version: "3.9"

services:
  api:
    build: .
    container_name: billing_api
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: billing_db
    environment:
      POSTGRES_USER: billing
      POSTGRES_PASSWORD: billing
      POSTGRES_DB: billing_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
